{:tasks {:requires ([babashka.fs :as fs])
         :init (def jar-name "todos.jar")
         test (clojure "-X:test")
         start (clojure "-M" "-m" "todos.main")
         repl (clojure "-M:nrepl")
         uberjar {:doc "Build an uberjar"
                  :task (if (seq (fs/modified-since jar-name ["src/"]))
                          (clojure "-T:build" "uber")
                          (println "jar up to date"))}
         image {:doc "Build a container image"
                :depends [uberjar]
                :task (let [engine (->> ["podman" "docker"]
                                        (map fs/which)
                                        (some (fn [e] (when e e))))]
                        (println "using engine:" (str engine))
                        (when-not engine
                          (throw (ex-info "Podman or Docker not found." {:babashka/exit 1})))
                        (shell (str engine " build -t docker.io/clojurestream/todo .")))}
         clean {:doc "Cleanup"
                :task (do (fs/delete-if-exists jar-name)
                          (fs/delete-if-exists "todos.sqlite")
                          (fs/delete-tree "target"))}
         cli {:doc "Run the CLI"
              :extra-paths ["cli"]
              :requires ([todos.cli :as cli])
              :extra-deps {io.github.lispyclouds/bblgum {:git/sha "f0561e6f8e430f2fbbd3f4093947dfdf6896e7e5"}
                           doric/doric {:mvn/version "0.9.0"}}
              :task (cli/-main *command-line-args*)}}}
